@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

body {
  font-family: "montserrat", sans-serif;
  line-height: 1.7;
  color: var(--color-font);
  font-size: 1.6rem;
}

// ------ H1 IS THE HERO HEADING ------- //

.primary-heading {
  color: var(--color-white-base);
  line-height: 1.3;
  text-align: center;
  margin-bottom: 2.5rem;
  font-size: 5rem;
  font-weight: 600;

  @include respond(phone) {
    margin-bottom: 2rem;
    font-size: 4rem;
  }

  @include respond-max(31.25em) {
    // from 500px and below
    font-size: 3rem;
  }

  @include respond(xs-phone) {
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 4rem;
  }
}

// ------ H2 IS THE HEADING FOR ALL SECTIONS ------- //

.secondary-heading {
  color: var(--color-font);
  text-align: center;
  font-size: 4rem;
  font-weight: 400;
  padding-bottom: $gutter-horizontal-medium;

  @include respond(phone) {
    padding-bottom: $gutter-horizontal-medium;
    font-size: 3rem;
  }

  @include respond(xs-phone) {
    font-size: 2.5rem;
  }
}

// ------ SPAN STYLES FOR SECTION HEADINGS ------- //

.highlight-green {
  color: var(--color-primary);
}

.highlight-blue {
  color: var(--color-blue);
  font-size: 1.8rem;
  font-weight: 500;
}

.highlight-grey {
  color: var(--color-grey-dark);
  font-weight: 400;
}

.text-bold {
  font-weight: 500;

  @include respond(phone) {
    font-size: 2rem;
    font-weight: 600;
  }
}

// ------ H3 IS THE SUBHEADING FOR HERO ------- //

.tertiary-headin {
  color: var(--color-white-base);
  font-size: 2.5rem;
  font-weight: 300;
  text-align: center;
  margin-bottom: 8rem;

  @include respond(phone) {
    margin-bottom: 10rem;
  }

  @include respond-max(31.25em) {
    // from 500px and below
    font-size: 2rem;
    margin-bottom: 6rem;
  }

  @include respond(xs-phone) {
    font-size: 1.8rem;
    margin-bottom: 5rem;
  }
}

// ------ H4 IS THE OBJECT AND DEVELOPER COMPANY NAME ------- //

.object-title {
  font-size: 1.6rem;
}

.company-title {
  font-size: 1.3rem;
}
