@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.section-invest {
  &__slider {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__arrow {
    background-color: var(--color-primary);
    height: 6.8rem;
    width: 6.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 6px solid var(--color-white);
    cursor: pointer;

    @include respond-max(68.75em) {
      display: none;
    }
  }

  &__container {
    cursor: pointer;
    display: flex;
    width: 100%;
  }

  &__container__card {
    display: flex;
    gap: 1rem;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    overflow: hidden;
    min-height: 63rem;

    @include respond(tab-land) {
      min-height: 60rem;
    }

    @include respond-max(68.75em) {
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      scroll-snap-type: x mandatory;
      padding: 0 1rem;
      scroll-padding: 0 1rem;
      scrollbar-width: none;
      -ms-overflow-style: none;
    }

    @include respond(tab-port) {
      gap: 2rem;
      min-height: 57rem;
    }

    @include respond(phone) {
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      scroll-snap-type: x mandatory;
      padding: 0 1rem;
      scroll-padding: 0 1rem;
      scrollbar-width: none;
      -ms-overflow-style: none;
      height: 61rem;
    }
  }

  &__card {
    flex: 0 0 32.6rem;
    scroll-snap-align: start;
    position: relative;
    background-color: var(--color-white);
    padding: 1rem;
    border: 0.1rem solid var(--color-primary);
    border-radius: var(--border-radius-md);
    overflow: hidden;

    @include respond(tab-port) {
      flex: 0 0 43rem;
    }

    @include respond-max(68.75em) {
      flex: 0 0 49rem;
    }

    @include respond(phone) {
      flex: 0 0 34rem;
    }

    &__developer {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 1rem;
      margin-bottom: 1rem;
    }

    &__developer-title {
      display: flex;
      flex-direction: column;
      align-items: start;
    }

    &__location {
      display: flex;
      align-items: center;
      margin-top: 1rem;
    }

    &__location-title {
      color: var(--color-grey-dark);
    }

    &__divider-horizontal {
      display: block;
      border-bottom: 0.1rem solid var(--color-grey-light-2);
      margin: 1.5rem 0;

      @include respond(tab-land) {
        margin: 1rem 0;
      }
    }

    &__divider-vertical {
      display: block;
      width: 0;
      height: 4rem;
      border-right: 0.1rem solid var(--color-grey-dark);
      margin: 0 auto;
    }

    &__box-1 {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__area-info {
      display: flex;
      align-items: center;
    }

    &__area-number {
      font-size: 1.7rem;
      font-weight: 600;
    }

    &__area-ruler {
      transform: rotate(45deg);
    }

    &__area-name {
      color: var(--color-grey-dark);
      font-size: 1.5rem;
    }

    &__hover {
      background-color: var(--color-white);
      border-radius: var(--border-radius-sm);
      padding: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: start;
      position: absolute;
      bottom: 0;
      left: 0;
      transform: translateY(68%);
      width: 100%;
      transition: 0.6s ease;

      @include respond(tab-land) {
        transform: translateY(67.2%);
      }

      @include respond(tab-port) {
        transform: translateY(66.4%);
      }
    }

    &:hover &__hover {
      transform: translateY(0);
    }

    &__hover-cost {
      display: flex;
      align-items: center;
      justify-content: space-around;
      background-color: var(--color-grey-light-2);
      border-radius: var(--border-radius-xs);
      padding: 1rem 2rem;
      margin-bottom: 1rem;

      @include respond(tab-port) {
        padding: 1rem 4rem;
      }
    }

    &__cost {
      color: var(--color-font-base);
      display: block;
      text-align: center;
      font-size: 1.5rem;
      font-weight: 500;
    }

    &__hover-room {
      display: flex;
      justify-content: space-between;

      p {
        font-size: 1.5rem;
      }
    }

    &__text-right {
      text-align: right;
    }

    &__hover-payment {
      p:first-child {
        font-size: 1.7rem;
        font-weight: 500;
        text-align: center;
        margin-bottom: 1.5rem;
      }
      p:not(:first-child) {
        font-size: 1.5rem;
      }
    }

    &__hover-availability {
      display: flex;
      align-items: center;
      justify-content: space-between;

      p {
        font-size: 1.3rem;
      }
    }
  }
}

.developer {
  &__logo-box {
    height: 4.6rem;
    width: 9rem;
    border-radius: var(--border-radius-xs);
    border: 0.1rem solid var(--color-font);
    padding: 1rem;
    background-color: var(--color-white-base);
    box-sizing: border-box;
  }

  &__logo {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__logo--damac {
    background-image: url(../img/developers-logo/DAMAC.png);
  }

  &__logo--emaar {
    background-image: url(../img/developers-logo/EMAAR.png);
  }

  &__logo--meraas {
    background-image: url(../img/developers-logo/Meraas.png);
  }

  &__logo--nakheel {
    background-image: url(../img/developers-logo/Nakheel.png);
  }
}

.invest {
  &__image {
    height: 15rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    border-radius: var(--border-radius-xs);
  }

  &__image--1 {
    background-image: url(../img/objects/villa-1.jpg);
  }

  &__image--2 {
    background-image: url(../img/objects/villa-2.jpg);
  }

  &__image--3 {
    background-image: url(../img/objects/villa-3.jpg);
  }

  &__image--4 {
    background-image: url(../img/objects/villa-4.jpg);
  }

  &__image--5 {
    background-image: url(../img/objects/villa-5.jpg);
  }

  &__image--6 {
    background-image: url(../img/objects/villa-6.jpg);
  }

  &__image--7 {
    background-image: url(../img/objects/villa-7.jpg);
  }
}
